
body{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

input{
    padding: 10px;
}

button{
    padding: 10px;
    border: 2px solid black;
    border-radius: 2%;
    margin: 10px;
    color: brown;
    background-color: white
}

.entrada{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin-left: auto;
    margin-right: auto;
    border: 1rem;
    border-color: black;
}
